
@import url('font.css');

@media screen and (max-width: 1024px) { /* Specific to this particular image */
    img{
        left: 50%;
        margin-left: -512px;   /* 50% */
    }

}
img {
    min-height: 100%;
    min-width: 1024px;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#demo{
    font-family: "Cairo";
    color: white;
    opacity: 0.8;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 33px;
    position: relative;
    margin-left: 27%;
    margin-top:12%;
}

h1{
    font-family:"Rokkitt";
    color: white;
    font-size: 72px;
    opacity: 0.8;
    letter-spacing: 3px;
    margin-left: 1%;
}

#features{
    margin-left:30% ;
    margin-top:2% ;
}

#explore,#uploaddata{
    display: inline-block;
    vertical-align:top;
    width: 26%;
}

.heading{
    color:white;
    font-family:  Cairo;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: 80%;
    border-radius: 5px;
    background: #1b6597;
}


.feature_column a{
    text-decoration: none;
}

form{
    margin-top:5px;
    margin-left: 15%;
}


input[type="file"]{
    display: none;
}

input[type=submit] {
    color: white;
    font-size: 18px;
    font-family: Cairo;
    font-weight: bold;
    text-align: center;
    border-radius:5px;

    border-color: transparent;
    background: #377EB4;
    margin-top: 5%;
    height:33px;
    cursor: pointer;
    margin-bottom: 20px;
    padding: 0 18px;
}

.custom-file-upload {
    border-radius: 5px;
    background-color:ghostwhite;
    opacity: 0.8;
    padding: 0 10px;
    cursor: pointer;
    font-size: 13px;
    color:black;
    margin-left: 8%;
    font-family: Cairo;
    font-weight: bold;
}

#filechoosen{
    font-family: "Cairo";
    color:floralwhite;
    float:right;
    font-weight: bold;
    font-size: 13px;
    margin-right:10%;
    position: relative;
    bottom:1%;
}