
@import url('font.css');

@media screen and (max-width: 1024px) {
    img{
        /*left: 50%;*/
        margin-left: -512px;
    }

}
img {
    min-height: 100%;
    min-width: 1024px;
    width:100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
}


h1{
    font-family:"Rokkitt";
    color: white;
    font-size: 70px;
    opacity: 0.9;
    letter-spacing: 4px;
    margin-left: 2%;
}

#demo{
    font-family: "Cairo";
    color: white;
    opacity: 0.8;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 33px;
    position: relative;
    margin-left: 27%;
    margin-top:12%;
}

#features{
    margin-left:30% ;
    margin-top:1% ;
}

#explore,#uploaddata{
    display: inline-block;
    vertical-align:top;
    width: 26%;
}

.heading{
    color:white;
    font-family:  Cairo;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: 90%;
    letter-spacing: 2px;
    padding: 6px 6px;
    border-radius: 5px;
    opacity:0.8;
    background-color: rgba(0, 0, 0, .3);
}


.feature_column a{
    text-decoration: none;
}

form{
    margin-top:5px;
    margin-left: 15%;
}


input[type="file"]{
    display: none;
}

input[type=submit] {
    color: white;
    font-size: 18px;
    font-family: Cairo;
    font-weight: bold;
    text-align: center;
    border-radius:5px;
    border-color: transparent;
    opacity: 0.8;
    background-color: rgba(0, 0, 0, .4);
    letter-spacing: 1px;
    margin-top: 5%;
    height:44px;
    cursor: pointer;
    padding: 0 18px;
    margin-bottom: 30%;
}

.custom-file-upload {
    border-radius: 5px;
    background-color:whitesmoke;
    opacity: 0.8;
    padding: 0 10px;
    cursor: pointer;
    font-size: 15px;
    color:black;
    margin-left: 12%;
    font-family: Cairo;
    font-weight: bold;

}

#filechoosen{
    font-family: Cairo;
    color:white;
    float:right;
    font-weight: bold;
    font-size: 13px;
    margin-right:4%;
    position: relative;
    bottom:2%;
}