html, body, #App1, #app-container {
    font-size: 16px;
    height: 100%;
}

#app-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 55px auto; grid-template-rows: 3.4375rem auto;
    grid-template-areas: "header"
                         "page-wrapper";
    background-color: #1b6597;
}

#header-container {
    grid-area: header;
}

#page-wrapper {
    grid-area: page-wrapper;

    min-width: 768px; min-width: 48rem;
    max-width: 1080px; max-width: 67.5rem;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 160px auto 160px; grid-template-columns: 10rem auto 10rem;
    grid-template-rows: auto; grid-template-rows: auto;
    grid-template-areas: "left-toolbar main-content right-toolbar"
                         "summary summary summary";
}

#left-toolbar-container {
    grid-area: left-toolbar;

    margin: 10px; margin: 0.625rem;
    margin-bottom: 0;
}

#main-content-container {
    grid-area: main-content;
    min-width: 600px;
    margin-bottom: 0;
    
}

#right-toolbar-container {
    grid-area: right-toolbar;
    margin-bottom: 0;    
}

#filter-wrapper {
    background-color: #14527d;
    padding: 16px; padding: 1rem;
    border-radius: 4px; border-radius: 0.25rem;
    margin-top: 40%;
    height: 80%;
    color: white;
}

/* filter section */
#filter-form * {
    font-size: 10px; font-size: 0.625rem;
    margin: 2px; margin: 0.125rem;
    height: auto;
    width: 100%;
}

#filter-form > form {
    margin: 0;
}

#filter-form > form > input {
    color: white;
    background-color: #14527d;
}

#filter-form div {
    display: flex;
    
}

#filter-form div * {
    margin-left: 0;
    margin-right: 0;
    color: white;
    background-color: #14527d;
}

#filter-form-relation {
    width: auto;
    padding: 2px 8px; padding: 0.125rem 0.5rem;
    font-size: 14.4px; font-size: 0.9rem;
}

ul {
    list-style-type: none;
}

.close {
    color: white;
}

#filter-filters {
    margin-top: 20%;
}

#filter-filters * {
    font-size: 0.875rem;
    margin-top: 0.375rem;
}

/* end of filter section */

/* search */
#search-wrapper {
    padding: 10px; padding: 0.625rem;
    padding-top: 0;
    border-radius: 4px; border-radius: 0.25rem;
    margin-top: 40%;
    height: 80%;
}

#search-wrapper * {
    font-size: 0.625rem;
    height: auto;
    background-color: #14527d;
    border-color: #14527d;
    border-radius: 4px; border-radius: 0.25rem;
    color: white;
}

#filter-form-attribute::placeholder, #filter-form-value::placeholder, #search-input::placeholder {
    color: white;
}

#search-result {
    height: calc(100% - 75px);
}

#search-result .label {
    font-size: 1rem;
}
/* end search */

/* main content */
#MainContent-wrapper {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}
#MainContent-wrapper > * {
    margin: 0 auto;
}
#main-graph {
    width: 600px;
    height: 600px;

}

#carouselIndicators {
    width: 300px; width: 18.75rem;
    height: 90px; height: 5.625rem;
}

.carousel-item > button {
    margin: auto;
    width: 200px;
}

.carousel-indicators {
    bottom: 0;
}

.carousel-inner {
    margin-top: 28px;
}

#xySelectorWrapper {
    display: flex;
    flex-direction: column;
}

#xySelectorWrapper select {
    background-color: #14527d;
    border-color: #14527d;
    border-radius: 4px; border-radius: 0.25rem;
    color: white;
}

/* main content */

pre {
    margin: auto;
    color: white;
}