@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700');

body {
    font-family:"Work Sans", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
    background-color: #f3f3f3;
}