<!DOCTYPE html>
<html>
<head>
	<title>DMHub</title>
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>

<div id="main">

    <h1>DMhub</h1>
    <p id = "demo"></p>

    <div id="features">
        <div class="feature_column" id="explore">
            <h2 class="heading">See How DMhub Works:</h2>
            <div class="vl"></div>
            <div class="feature_button">
                <a href="{% url "data" %}"><h3 class="feature_button_label">Explore Dataset</h3></a>
            </div>
        </div>
        <div class="feature_column" id="uploaddata">
            <h2 class="heading">Upload My Own Dataset</h2>
            <div class="vl2"></div>
            <form action="{% url "index" %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="submit" value="Upload"/>

                <label for="file">Browse..</label>
                {{ form.docfile }}
            </form>
        </div>
    </div>



</div>
</body>
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous">
</script>
<script>
    var i = 0;
    var txt = 'DMhub changes the way you look at data ...';
    var speed = 70; /* The speed/duration of the effect in milliseconds */

    $(document).ready(function a(){
        if (i < txt.length) {
            document.getElementById("demo").innerHTML += txt.charAt(i);
            i++;
            setTimeout(a,speed);
        }
    })
</script>
</html>