<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example</title>
</head>
<body>
    <form action="upload/" method="post">
    {% csrf_token %}
        <label for="file_dir">file directory</label>
        <input type="text" name="file_dir" style="width: 700px;" value="your file dir here" />
        <input type="submit" value="upload" />
    </form>
    <form action="/dataset/" method="get">
    {% csrf_token %}
        <label for="data_name">dataset name:</label>
        <input type="text" name="data_name" value="313_spectrometer" style="width: 200px;"/>
        <input type="submit" value="get data" />
    </form>
</body>
</html>